# dependencies
**/node_modules

# builds
**/.next/
**/out/
**/build/
**/dist/

# python / backend
**/__pycache__/
*.pyc
.venv/
venv/

# env files
.env*

# misc
.DS_Store
*.pem
*.tsbuildinfo

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
